In [4]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
import sqlparse

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/trabalho3')
%config SqlMagic.autocommit=True

In [ ]:
with open('sql/consultas.sql', 'r') as file:
    content = file.read()

queries = [q.strip() for q in sqlparse.split(content) if q.strip()]

for q in queries:
    q = q.strip()
    if q.lower().startswith("select"):
        df = pd.read_sql(q, engine)
        print(df)

# QUERY 3.3.1

In [2]:
query = '''
SELECT * 
FROM propriedade
'''

df = pd.read_sql(query, engine)
print(df)

    id_propriedade                        nome                endereco  \
0                1                Casa do Lago       Rua das Águas 123
1                2                  Suíte Azul       Rua das Flores 88
2                3              Hostel Central       Avenida Brasil 45
3                4            Refúgio da Serra     Rua do Pinheiro 321
4                5                 Apê Moderno             Rua Nova 77
5                6                  Quarto Zen           Rua Sakura 12
6                7  Quarto Compartilhado Roots    Rua das Palmeiras 56
7                8                Vila Vintage           Rua do Sol 89
8                9                Apê da Júlia     Avenida Central 456
9               10             Suíte Tranquila        Rua do Vento 102
10              11             Loft Industrial  Rua das Indústrias 500
11              12             Quarto da Clara      Rua do Limoeiro 78
12              13               Hostel Raízes      Rua das Árvores 31
13              14                  Casa Verde      Rua Campo Verde 64
14              15             Estúdio Central    Rua 7 de Setembro 89
15              16           Suíte da Montanha    Rua da Serra Azul 17
16              17                Quarto Roots          Rua do Ipê 111
17              18               Casa da Beira           Rua do Rio 90
18              19                   Apê Solar           Rua Aurora 45
19              20              Quarto na Vila      Rua dos Pinhais 12
20              21                  Studio Zen   Rua do Sol Nascente 3
21              22         Quarto Aconchegante          Rua do Vale 20
22              23           Hostel dos Sonhos       Rua dos Cedros 55
23              24              Casa da Colina  Rua das Laranjeiras 22
24              25                    Apê Azul           Rua do Céu 77
25              26                Suíte do Mar        Rua das Ondas 90
26              27               Quarto do Sol         Rua da Manhã 21
27              28                 Casa Branca    Rua do Horizonte 101
28              29         Estúdio Minimalista         Rua do Design 5
29              30               Quarto da Paz       Rua da Alegria 10

                    tipo  n_quartos  n_banheiros  preco_p_noite  max_hospedes  \
0           Casa inteira          3            2          350.0             6
1      Quarto individual          1            1          120.0             2
2   Quarto compartilhado          1            2           60.0             4
3           Casa inteira          4            3          500.0             8
4           Casa inteira          2            2          280.0             4
5      Quarto individual          1            1           90.0             1
6   Quarto compartilhado          1            1           55.0             6
7           Casa inteira          5            4          750.0            10
8           Casa inteira          2            1          230.0             3
9      Quarto individual          1            1          110.0             2
10          Casa inteira          1            1          310.0             2
11     Quarto individual          1            1          100.0             1
12  Quarto compartilhado          1            1           45.0             5
13          Casa inteira          3            2          370.0             6
14          Casa inteira          1            1          200.0             2
15     Quarto individual          1            1          125.0             2
16  Quarto compartilhado          1            1           50.0             4
17          Casa inteira          4            3          480.0             7
18          Casa inteira          2            1          260.0             3
19     Quarto individual          1            1           95.0             2
20          Casa inteira          1            1          195.0             2
21     Quarto individual          1            1          105.0             2
22  Quarto compartilhado          1            1           60.0             6
23          Casa inteira          3            2          400.0             5
24          Casa inteira          2            1          270.0             4
25     Quarto individual          1            1          115.0             1
26  Quarto compartilhado          1            1           58.0             4
27          Casa inteira          4            3          520.0             9
28          Casa inteira          1            1          210.0             2
29     Quarto individual          1            1          100.0             2

    min_noites  max_noites  taxa_limpeza horario_entrada horario_saida  \
0            2          15          50.0        14:00:00      11:00:00
1            1          10           NaN        15:00:00      10:00:00
2            1           7          10.0            None      12:00:00
3            3          20          80.0        16:00:00          None
4            2          10           NaN            None      10:00:00
5            1           5          15.0        12:00:00      09:00:00
6            1           7           NaN        17:00:00      11:00:00
7            3          30         100.0        15:00:00      10:00:00
8            2          15           NaN        13:00:00      11:00:00
9            1           8          10.0            None          None
10           2          12          25.0        15:00:00      11:00:00
11           1           6           NaN        13:00:00      09:00:00
12           1           4           8.0        16:00:00      12:00:00
13           2          18           NaN            None      10:30:00
14           1          10          20.0        13:30:00          None
15           1           9           NaN            None      09:00:00
16           1           5           6.0        14:00:00      10:00:00
17           2          20          70.0            None      10:00:00
18           2          12           NaN            None          None
19           1           6          12.0        16:00:00      10:00:00
20           2          14          18.0            None          None
21           1           7          10.0        14:00:00      09:00:00
22           1           5           NaN            None      10:00:00
23           2          16          50.0        12:30:00      11:30:00
24           2          13          30.0            None      10:00:00
25           1           7           NaN        13:00:00          None
26           1           6          10.0            None          None
27           3          21           NaN        15:00:00      11:00:00
28           1          11          22.0        14:00:00      10:00:00
29           1           8          10.0            None          None

         cep  id_locator
0   12345678          10
1   50505050          12
2   34567890          13
3   45678901          13
4   56789012          15
5   67890123          18
6   78901234          18
7   89012345          18
8   90123456          18
9   01234567          18
10  11223344          20
11  22334455          22
12  33445566          22
13  44556677          25
14  55667788          25
15  66778899          28
16  77889900          28
17  88990011          28
18  99001122          38
19  10111213          30
20  12131415          30
21  13141516          30
22  14151617          32
23  15161718          32
24  16171819          34
25  17181920          35
26  18192021          35
27  19202122          15
28  20212223          12
29  21222324          10

# QUERY 3.3.2

In [3]:
query = '''
SELECT p.tipo, Count(*) 
FROM propriedade p 
GROUP BY p.tipo 
'''

df = pd.read_sql(query, engine)
print(df)

                   tipo  count
0          Casa inteira     15
1     Quarto individual      9
2  Quarto compartilhado      6

# QUERY 3.3.3

In [4]:
query = '''
SELECT L.cidade, Count(*) 
FROM localizacao L JOIN propriedade p 
USING (cep) 
GROUP BY cidade
'''

df = pd.read_sql(query, engine)
print(df)

                 cidade  count
0        Belo Horizonte      1
1               Maringá      1
2                Recife      1
3              Blumenau      1
4             Joinville      1
5              Salvador      1
6           João Pessoa      1
7          Porto Alegre      1
8               Niterói      1
9        Ribeirão Preto      1
10        Florianópolis      1
11             Curitiba      2
12               Cuiabá      1
13         Campo Grande      1
14               Manaus      1
15              Pelotas      1
16     Feira de Santana      1
17             Teresina      1
18              Aracaju      1
19           Uberlândia      1
20             Campinas      1
21            Fortaleza      1
22             Londrina      1
23             São Luís      1
24            São Paulo      1
25              Vitória      1
26                Belém      1
27                Natal      1
28  São José dos Campos      1

# QUERY 3.4

In [5]:
query = '''
SELECT r.id_reserva, r.id_propriedade, r.id_usuario, (r.data_check_out - r.data_check_in) as dias_locados, u2.nome as nome_prop, u1.nome as nome_hosp, ROUND(r.preco_total / (r.data_check_out - r.data_check_in), 2) as preco_diaria 
FROM reserva r  
	JOIN usuario u1 ON r.id_usuario = u1.id_usuario
	JOIN propriedade p ON r.id_propriedade = p.id_propriedade
	JOIN usuario u2 ON p.id_locator = u2.id_usuario
WHERE (r.status = 'Confirmada') and (r.data_reserva >= '2025-04-25')
'''

df = pd.read_sql(query, engine)
print(df)

    id_reserva  id_propriedade  id_usuario  dias_locados nome_prop nome_hosp  \
0            1               1          11             5       Ana     Bruno
1            2               2          11             2    Camila     Bruno
2            4               4          14             4     Diego   Eduarda
3            6               6          15             5   Isabela    Felipe
4            7               7          16             2   Isabela   Giovana
5            9               9          19             2   Isabela      João
6           10              10          19             4   Isabela      João
7           12              12          21             2   Mariana     Lucas
8           14              14          23             2     Pedro   Nicolas
9           15              15          24             2     Pedro    Olívia
10          17              17          27             2   Sabrina    Rafael
11          18              18          27             2   Sabrina    Rafael
12          20              20          30             2    Úrsula    Úrsula
13          22              22          31             4    Úrsula    Victor
14          23              23          32             2     Wanda     Wanda
15          24              24          33             4     Wanda    Xavier
16          26              26          35             2      Zeca      Zeca
17          27              27          37             2      Zeca     Breno
18          29              29          38             2    Camila    Cíntia

    preco_diaria
0          60.00
1          72.50
2          65.00
3            NaN
4         180.00
5          85.00
6         110.00
7          97.50
8          80.00
9          52.50
10        112.50
11        172.50
12        100.00
13         36.25
14        102.50
15        107.50
16         57.50
17         77.50
18        157.50

# QUERY 3.5.a

In [ ]:
query = '''
SELECT *
FROM usuario u
WHERE u.tipo = 'Ambos'
'''

df = pd.read_sql(query, engine)
print(df)

# QUERY 3.5.b

In [7]:
query = '''
SELECT u.nome, L.cidade, COUNT(p.id_propriedade) AS total_prop, COUNT(r.id_reserva) AS total_locacoes
	
FROM usuario u
JOIN localizacao L ON u.cep = L.cep
JOIN propriedade p ON p.id_locator = u.id_usuario
JOIN reserva r ON r.id_propriedade = p.id_propriedade

GROUP BY (u.id_usuario, L.cidade)
HAVING (COUNT(r.id_reserva) >= 5);
'''

df = pd.read_sql(query, engine)
print(df)

      nome    cidade  total_prop  total_locacoes
0  Isabela  Salvador           5               5

# QUERY 3.5.c

In [8]:
query = '''
SELECT 
 EXTRACT(MONTH from data_reserva), 
 ROUND(AVG(Coalesce(preco_total/(r.data_check_out - r.data_check_in), 0)), 2) as media_preco_total, 
 ROUND(AVG(CASE WHEN r.status = 'Confirmada' AND preco_total IS NOT NULL THEN preco_total/(r.data_check_out - r.data_check_in) ELSE NULL END), 2) as media_preco_confirmadas
FROM 
  reserva r
GROUP BY 
  EXTRACT(MONTH FROM data_reserva);
'''

df = pd.read_sql(query, engine)
print(df)

   extract  media_preco_total  media_preco_confirmadas
0      5.0              81.54                     95.9

# QUERY 3.5.d

In [9]:
query = '''
SELECT DISTINCT u1.tipo, u1.nome
FROM usuario u1
WHERE (u1.tipo = 'Ambos' OR u1.tipo = 'Hospede') 

	AND
	u1.data_nascimento > ANY (
    SELECT u2.data_nascimento
    FROM usuario u2
    WHERE u2.id_usuario IN (
        SELECT DISTINCT p.id_locator
        FROM propriedade p
    )
);

'''

df = pd.read_sql(query, engine)
print(df)

       tipo     nome
0     Ambos   Camila
1     Ambos   Cíntia
2     Ambos     Davi
3     Ambos   Felipe
4     Ambos  Isabela
5     Ambos   Karina
6     Ambos  Nicolas
7     Ambos    Pedro
8     Ambos  Sabrina
9     Ambos   Úrsula
10    Ambos    Wanda
11    Ambos     Zeca
12  Hospede    Breno
13  Hospede    Bruno
14  Hospede  Eduarda
15  Hospede  Giovana
16  Hospede     João
17  Hospede    Lucas
18  Hospede   Olívia
19  Hospede   Rafael
20  Hospede   Victor
21  Hospede   Xavier

# QUERY 3.5.e

In [ ]:
query = '''
SELECT DISTINCT u1.nome, u1.sobrenome, u1.data_nascimento, u1.tipo
FROM usuario u1
WHERE (u1.tipo = 'Ambos' OR u1.tipo = 'Hospede') 

	AND
	u1.data_nascimento > ALL (
    SELECT u2.data_nascimento
    FROM usuario u2
    WHERE (u2.tipo = 'Ambos' OR u2.tipo = 'Locator') and (u1.id_usuario != u2.id_usuario)
    );


'''

df = pd.read_sql(query, engine)
print(df)