In [137]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy import text
import sqlparse
from IPython.display import display


# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/trabalho3')
%config SqlMagic.autocommit=True

In [138]:
with open('sql/consultas.sql', 'r') as file:
    content = file.read()

queries = [q.strip() for q in sqlparse.split(content) if q.strip()]

for q in queries:
    q = q.strip()
    if q.lower().startswith("select"):
        df = pd.read_sql(q, engine)
        display(df)

,id_propriedade,nome,endereco,tipo,n_quartos,n_banheiros,preco_p_noite,max_hospedes,min_noites,max_noites,taxa_limpeza,horario_entrada,horario_saida,cep,id_locator
0,1,Casa do Lago,Rua das Águas 123,Casa inteira,3,2,350.0,6,2,15,50.0,14:00:00,11:00:00,12345678,10
1,2,Suíte Azul,Rua das Flores 88,Quarto individual,1,1,120.0,2,1,10,NaN,15:00:00,10:00:00,50505050,12
2,3,Hostel Central,Avenida Brasil 45,Quarto compartilhado,1,2,60.0,4,1,7,10.0,None,12:00:00,34567890,13
3,4,Refúgio da Serra,Rua do Pinheiro 321,Casa inteira,4,3,500.0,8,3,20,80.0,16:00:00,None,45678901,13
4,5,Apê Moderno,Rua Nova 77,Casa inteira,2,2,280.0,4,2,10,NaN,None,10:00:00,56789012,15
5,6,Quarto Zen,Rua Sakura 12,Quarto individual,1,1,90.0,1,1,5,15.0,12:00:00,09:00:00,67890123,18
6,7,Quarto Compartilhado Roots,Rua das Palmeiras 56,Quarto compartilhado,1,1,55.0,6,1,7,NaN,17:00:00,11:00:00,78901234,18
7,8,Vila Vintage,Rua do Sol 89,Casa inteira,5,4,750.0,10,3,30,100.0,15:00:00,10:00:00,89012345,18
8,9,Apê da Júlia,Avenida Central 456,Casa inteira,2,1,230.0,3,2,15,NaN,13:00:00,11:00:00,90123456,18
9,10,Suíte Tranquila,Rua do Vento 102,Quarto individual,1,1,110.0,2,1,8,10.0,None,None,22334455,18
10,11,Loft Industrial,Rua das Indústrias 500,Casa inteira,1,1,310.0,2,2,12,25.0,15:00:00,11:00:00,22334455,20
11,12,Quarto da Clara,Rua do Limoeiro 78,Quarto individual,1,1,100.0,1,1,6,NaN,13:00:00,09:00:00,22334455,22
12,13,Hostel Raízes,Rua das Árvores 31,Quarto compartilhado,1,1,45.0,5,1,4,8.0,16:00:00,12:00:00,22334455,22
13,14,Casa Verde,Rua Campo Verde 64,Casa inteira,3,2,370.0,6,2,18,NaN,None,10:30:00,44556677,25
14,15,Estúdio Central,Rua 7 de Setembro 89,Casa inteira,1,1,200.0,2,1,10,20.0,13:30:00,None,55667788,25
15,16,Suíte da Montanha,Rua da Serra Azul 17,Quarto individual,1,1,125.0,2,1,9,NaN,None,09:00:00,55667788,28
16,17,Quarto Roots,Rua do Ipê 111,Quarto compartilhado,1,1,50.0,4,1,5,6.0,14:00:00,10:00:00,55667788,28
17,18,Casa da Beira,Rua do Rio 90,Casa inteira,4,3,480.0,7,2,20,70.0,None,10:00:00,88990011,28
18,19,Apê Solar,Rua Aurora 45,Casa inteira,2,1,260.0,3,2,12,NaN,None,None,99001122,38
19,20,Quarto na Vila,Rua dos Pinhais 12,Quarto individual,1,1,95.0,2,1,6,12.0,16:00:00,10:00:00,10111213,30
20,21,Studio Zen,Rua do Sol Nascente 3,Casa inteira,1,1,195.0,2,2,14,18.0,None,None,12131415,30
21,22,Quarto Aconchegante,Rua do Vale 20,Quarto individual,1,1,105.0,2,1,7,10.0,14:00:00,09:00:00,10111213,30
22,23,Hostel dos Sonhos,Rua dos Cedros 55,Quarto compartilhado,1,1,60.0,6,1,5,NaN,None,10:00:00,14151617,32
23,24,Casa da Colina,Rua das Laranjeiras 22,Casa inteira,3,2,400.0,5,2,16,50.0,12:30:00,11:30:00,14151617,32
24,25,Apê Azul,Rua do Céu 77,Casa inteira,2,1,270.0,4,2,13,30.0,None,10:00:00,16171819,34
25,26,Suíte do Mar,Rua das Ondas 90,Quarto individual,1,1,115.0,1,1,7,NaN,13:00:00,None,17181920,35
26,27,Quarto do Sol,Rua da Manhã 21,Quarto compartilhado,1,1,58.0,4,1,6,10.0,None,None,18192021,35
27,28,Casa Branca,Rua do Horizonte 101,Casa inteira,4,3,520.0,9,3,21,NaN,15:00:00,11:00:00,19202122,15
28,29,Estúdio Minimalista,Rua do Design 5,Casa inteira,1,1,210.0,2,1,11,22.0,14:00:00,10:00:00,20212223,12
29,30,Quarto da Guerra,Rua da Alegria 10,Quarto individual,1,1,100.0,2,1,8,10.0,None,None,21222324,10
30,31,Casa da Esperança,Rua das Laranjeiras 22,Casa inteira,3,2,400.0,5,2,16,50.0,12:30:00,11:30:00,21222324,32
31,32,Apê Laranja,Rua do Céu 77,Casa inteira,2,1,270.0,4,2,13,30.0,None,10:00:00,21222324,34
32,33,Suíte do Mar,Rua das Ondas 90,Quarto individual,1,1,115.0,1,1,7,NaN,13:00:00,None,21222324,35
33,34,Quarto do Sol,Rua da Manhã 21,Quarto compartilhado,1,1,58.0,4,1,6,10.0,None,None,21222324,35
34,35,Casa Branca,Rua do Horizonte 101,Casa inteira,4,3,520.0,9,3,21,NaN,15:00:00,11:00:00,21222324,15
35,36,Estúdio Minimalista,Rua do Design 5,Casa inteira,1,1,210.0,2,1,11,22.0,14:00:00,10:00:00,21222324,12
36,37,Quarto da Paz,Rua da Alegria 10,Quarto individual,1,1,100.0,2,1,8,10.0,None,None,21222324,10
37,38,Casa da Esperança,Rua das Laranjeiras 22,Casa inteira,3,2,400.0,5,2,16,50.0,12:30:00,11:30:00,21222324,10
38,39,Apê Laranja,Rua do Céu 77,Casa inteira,2,1,270.0,4,2,13,30.0,None,10:00:00,21222324,10
39,40,Suíte do Mar,Rua das Ondas 90,Quarto individual,1,1,115.0,1,1,7,NaN,13:00:00,None,21222324,10
40,41,Quarto do Sol,Rua da Manhã 21,Quarto compartilhado,1,1,58.0,4,1,6,10.0,None,None,21222324,10
41,42,Casa Branca,Rua do Horizonte 101,Casa inteira,4,3,520.0,9,3,21,NaN,15:00:00,11:00:00,21222324,10
42,43,Estúdio Minimalista,Rua do Design 5,Casa inteira,1,1,210.0,2,1,11,22.0,14:00:00,10:00:00,21222324,10
43,44,Quarto da Paz,Rua da Alegria 10,Quarto individual,1,1,100.0,2,1,8,10.0,None,None,21222324,10
44,45,Loft Industrial,Rua das Indústrias 500,Casa inteira,1,1,310.0,2,2,12,25.0,15:00:00,11:00:00,85858585,23
45,46,Quarto da Clara,Rua do Limoeiro 78,Quarto individual,1,1,100.0,1,1,6,NaN,13:00:00,09:00:00,85858585,23
46,47,Hostel Raízes,Rua das Árvores 31,Quarto compartilhado,1,1,45.0,5,1,4,8.0,16:00:00,12:00:00,85858585,23
47,48,Casa Verde,Rua Campo Verde 64,Casa inteira,3,2,370.0,6,2,18,NaN,None,10:30:00,85858585,23
48,49,Estúdio Central,Rua 7 de Setembro 89,Casa inteira,1,1,200.0,2,1,10,20.0,13:30:00,None,85858585,23
49,50,Suíte da Montanha,Rua da Serra Azul 17,Quarto individual,1,1,125.0,2,1,9,NaN,None,09:00:00,85858585,23
50,51,Quarto Roots,Rua do Ipê 111,Quarto compartilhado,1,1,50.0,4,1,5,6.0,14:00:00,10:00:00,85858585,23
51,52,Casa da Beira,Rua do Rio 90,Casa inteira,4,3,480.0,7,2,20,70.0,None,10:00:00,85858585,23

                   tipo  count
0          Casa inteira     27
1  Quarto compartilhado     10
2     Quarto individual     15

                 cidade  count
0        Belo Horizonte      1
1      Feira de Santana     15
2               Maringá      1
3                Recife      1
4              Blumenau      1
5               Aracaju      1
6              Salvador      1
7           João Pessoa      3
8          Porto Alegre      1
9               Niterói      1
10            Fortaleza      1
11       Ribeirão Preto      1
12        Florianópolis      1
13             Curitiba      2
14            São Paulo      1
15               Cuiabá      2
16         Campo Grande      1
17              Vitória      1
18                Belém      1
19                Natal      4
20               Manaus      8
21  São José dos Campos      2
22              Pelotas      1

,id_usuario,nome,sobrenome,telefone,cpf,genero,endereco,email,senha,tipo,data_nascimento,cep
0,12,Camila,Oliveira,11999999903,12345678903,Feminino,Rua da Aurora 77,camila.o@email.com,senha123,Ambos,1995-01-10,34567890
1,15,Felipe,Almeida,11999999906,12345678906,Masculino,Rua Nova 55,felipe@email.com,senha123,Ambos,1987-08-09,70707070
2,18,Isabela,Ramos,11999999909,12345678909,Feminino,Rua Campo Verde 99,isabela@email.com,senha123,Ambos,1989-04-07,81818181
3,20,Karina,Lopes,11999999911,12345678911,Feminino,Rua do Vale 18,karina@email.com,senha123,Ambos,1984-10-21,82828282
4,23,Nicolas,Barbosa,11999999914,12345678914,Masculino,Rua 7 de Setembro 200,nicolas@email.com,senha123,Ambos,1994-09-14,85858585
5,25,Pedro,Gonçalves,11999999916,12345678916,Masculino,Rua do Horizonte 17,pedro@email.com,senha123,Ambos,1986-08-03,66778899
6,28,Sabrina,Farias,11999999919,12345678919,Feminino,Rua das Ondas 66,sabrina@email.com,senha123,Ambos,2001-02-14,99001122
7,30,Úrsula,Rezende,11999999921,12345678921,Feminino,Rua da Manhã 70,ursula@email.com,senha123,Ambos,1988-07-09,12131415
8,32,Wanda,Paz,11999999923,12345678923,Feminino,Rua do Design 23,wanda@email.com,senha123,Ambos,1990-09-19,14151617
9,35,Zeca,Pinto,11999999926,12345678926,Masculino,Rua das Árvores 111,zeca@email.com,senha123,Ambos,1995-07-07,17181920
10,38,Cíntia,Sales,11999999929,12345678929,Feminino,Rua da Alegria 14,cintia@email.com,senha123,Ambos,1998-11-27,20212223
11,39,Davi,Neves,11999999930,12345678930,Masculino,Rua Nova Esperança 18,davi@email.com,senha123,Ambos,1996-04-04,21222324

      nome          cidade  total_prop  total_locacoes
0      Ana  Belo Horizonte          10               9
1  Isabela        Salvador           5               5
2  Nicolas          Manaus           8               8

   extract  media_preco_total  media_preco_confirmadas
0      6.0              82.02                    95.16
1      7.0              83.33                   118.13
2      5.0              81.20                    90.31

       tipo     nome
0     Ambos   Camila
1     Ambos   Cíntia
2     Ambos     Davi
3     Ambos   Felipe
4     Ambos  Isabela
5     Ambos   Karina
6     Ambos  Nicolas
7     Ambos    Pedro
8     Ambos  Sabrina
9     Ambos   Úrsula
10    Ambos    Wanda
11    Ambos     Zeca
12  Hospede    Breno
13  Hospede    Bruno
14  Hospede  Eduarda
15  Hospede  Giovana
16  Hospede     João
17  Hospede    Lucas
18  Hospede   Mateus
19  Hospede   Olívia
20  Hospede    Paulo
21  Hospede   Rafael
22  Hospede   Victor
23  Hospede   Xavier

      nome sobrenome data_nascimento     tipo
0   Mateus     Sales      2005-11-27  Hospede
1    Paulo     Neves      2003-04-04  Hospede
2  Sabrina    Farias      2001-02-14    Ambos

# QUERY 3.3.1

In [17]:
query = '''
SELECT * 
FROM propriedade
'''

df = pd.read_sql(query, engine)
display(df)

,id_propriedade,nome,endereco,tipo,n_quartos,n_banheiros,preco_p_noite,max_hospedes,min_noites,max_noites,taxa_limpeza,horario_entrada,horario_saida,cep,id_locator
0,1,Casa do Lago,Rua das Águas 123,Casa inteira,3,2,350.0,6,2,15,50.0,14:00:00,11:00:00,12345678,10
1,2,Suíte Azul,Rua das Flores 88,Quarto individual,1,1,120.0,2,1,10,NaN,15:00:00,10:00:00,50505050,12
2,3,Hostel Central,Avenida Brasil 45,Quarto compartilhado,1,2,60.0,4,1,7,10.0,None,12:00:00,34567890,13
3,4,Refúgio da Serra,Rua do Pinheiro 321,Casa inteira,4,3,500.0,8,3,20,80.0,16:00:00,None,45678901,13
4,5,Apê Moderno,Rua Nova 77,Casa inteira,2,2,280.0,4,2,10,NaN,None,10:00:00,56789012,15
5,6,Quarto Zen,Rua Sakura 12,Quarto individual,1,1,90.0,1,1,5,15.0,12:00:00,09:00:00,67890123,18
6,7,Quarto Compartilhado Roots,Rua das Palmeiras 56,Quarto compartilhado,1,1,55.0,6,1,7,NaN,17:00:00,11:00:00,78901234,18
7,8,Vila Vintage,Rua do Sol 89,Casa inteira,5,4,750.0,10,3,30,100.0,15:00:00,10:00:00,89012345,18
8,9,Apê da Júlia,Avenida Central 456,Casa inteira,2,1,230.0,3,2,15,NaN,13:00:00,11:00:00,90123456,18
9,10,Suíte Tranquila,Rua do Vento 102,Quarto individual,1,1,110.0,2,1,8,10.0,None,None,22334455,18
10,11,Loft Industrial,Rua das Indústrias 500,Casa inteira,1,1,310.0,2,2,12,25.0,15:00:00,11:00:00,22334455,20
11,12,Quarto da Clara,Rua do Limoeiro 78,Quarto individual,1,1,100.0,1,1,6,NaN,13:00:00,09:00:00,22334455,22
12,13,Hostel Raízes,Rua das Árvores 31,Quarto compartilhado,1,1,45.0,5,1,4,8.0,16:00:00,12:00:00,22334455,22
13,14,Casa Verde,Rua Campo Verde 64,Casa inteira,3,2,370.0,6,2,18,NaN,None,10:30:00,44556677,25
14,15,Estúdio Central,Rua 7 de Setembro 89,Casa inteira,1,1,200.0,2,1,10,20.0,13:30:00,None,55667788,25
15,16,Suíte da Montanha,Rua da Serra Azul 17,Quarto individual,1,1,125.0,2,1,9,NaN,None,09:00:00,55667788,28
16,17,Quarto Roots,Rua do Ipê 111,Quarto compartilhado,1,1,50.0,4,1,5,6.0,14:00:00,10:00:00,55667788,28
17,18,Casa da Beira,Rua do Rio 90,Casa inteira,4,3,480.0,7,2,20,70.0,None,10:00:00,88990011,28
18,19,Apê Solar,Rua Aurora 45,Casa inteira,2,1,260.0,3,2,12,NaN,None,None,99001122,38
19,20,Quarto na Vila,Rua dos Pinhais 12,Quarto individual,1,1,95.0,2,1,6,12.0,16:00:00,10:00:00,10111213,30
20,21,Studio Zen,Rua do Sol Nascente 3,Casa inteira,1,1,195.0,2,2,14,18.0,None,None,12131415,30
21,22,Quarto Aconchegante,Rua do Vale 20,Quarto individual,1,1,105.0,2,1,7,10.0,14:00:00,09:00:00,10111213,30
22,23,Hostel dos Sonhos,Rua dos Cedros 55,Quarto compartilhado,1,1,60.0,6,1,5,NaN,None,10:00:00,14151617,32
23,24,Casa da Colina,Rua das Laranjeiras 22,Casa inteira,3,2,400.0,5,2,16,50.0,12:30:00,11:30:00,14151617,32
24,25,Apê Azul,Rua do Céu 77,Casa inteira,2,1,270.0,4,2,13,30.0,None,10:00:00,16171819,34
25,26,Suíte do Mar,Rua das Ondas 90,Quarto individual,1,1,115.0,1,1,7,NaN,13:00:00,None,17181920,35
26,27,Quarto do Sol,Rua da Manhã 21,Quarto compartilhado,1,1,58.0,4,1,6,10.0,None,None,18192021,35
27,28,Casa Branca,Rua do Horizonte 101,Casa inteira,4,3,520.0,9,3,21,NaN,15:00:00,11:00:00,19202122,15
28,29,Estúdio Minimalista,Rua do Design 5,Casa inteira,1,1,210.0,2,1,11,22.0,14:00:00,10:00:00,20212223,12
29,30,Quarto da Guerra,Rua da Alegria 10,Quarto individual,1,1,100.0,2,1,8,10.0,None,None,21222324,10
30,31,Casa da Esperança,Rua das Laranjeiras 22,Casa inteira,3,2,400.0,5,2,16,50.0,12:30:00,11:30:00,21222324,32
31,32,Apê Laranja,Rua do Céu 77,Casa inteira,2,1,270.0,4,2,13,30.0,None,10:00:00,21222324,34
32,33,Suíte do Mar,Rua das Ondas 90,Quarto individual,1,1,115.0,1,1,7,NaN,13:00:00,None,21222324,35
33,34,Quarto do Sol,Rua da Manhã 21,Quarto compartilhado,1,1,58.0,4,1,6,10.0,None,None,21222324,35
34,35,Casa Branca,Rua do Horizonte 101,Casa inteira,4,3,520.0,9,3,21,NaN,15:00:00,11:00:00,21222324,15
35,36,Estúdio Minimalista,Rua do Design 5,Casa inteira,1,1,210.0,2,1,11,22.0,14:00:00,10:00:00,21222324,12
36,37,Quarto da Paz,Rua da Alegria 10,Quarto individual,1,1,100.0,2,1,8,10.0,None,None,21222324,10
37,38,Casa da Esperança,Rua das Laranjeiras 22,Casa inteira,3,2,400.0,5,2,16,50.0,12:30:00,11:30:00,21222324,10
38,39,Apê Laranja,Rua do Céu 77,Casa inteira,2,1,270.0,4,2,13,30.0,None,10:00:00,21222324,10
39,40,Suíte do Mar,Rua das Ondas 90,Quarto individual,1,1,115.0,1,1,7,NaN,13:00:00,None,21222324,10
40,41,Quarto do Sol,Rua da Manhã 21,Quarto compartilhado,1,1,58.0,4,1,6,10.0,None,None,21222324,10
41,42,Casa Branca,Rua do Horizonte 101,Casa inteira,4,3,520.0,9,3,21,NaN,15:00:00,11:00:00,21222324,10
42,43,Estúdio Minimalista,Rua do Design 5,Casa inteira,1,1,210.0,2,1,11,22.0,14:00:00,10:00:00,21222324,10
43,44,Quarto da Paz,Rua da Alegria 10,Quarto individual,1,1,100.0,2,1,8,10.0,None,None,21222324,10
44,45,Loft Industrial,Rua das Indústrias 500,Casa inteira,1,1,310.0,2,2,12,25.0,15:00:00,11:00:00,85858585,23
45,46,Quarto da Clara,Rua do Limoeiro 78,Quarto individual,1,1,100.0,1,1,6,NaN,13:00:00,09:00:00,85858585,23
46,47,Hostel Raízes,Rua das Árvores 31,Quarto compartilhado,1,1,45.0,5,1,4,8.0,16:00:00,12:00:00,85858585,23
47,48,Casa Verde,Rua Campo Verde 64,Casa inteira,3,2,370.0,6,2,18,NaN,None,10:30:00,85858585,23
48,49,Estúdio Central,Rua 7 de Setembro 89,Casa inteira,1,1,200.0,2,1,10,20.0,13:30:00,None,85858585,23
49,50,Suíte da Montanha,Rua da Serra Azul 17,Quarto individual,1,1,125.0,2,1,9,NaN,None,09:00:00,85858585,23
50,51,Quarto Roots,Rua do Ipê 111,Quarto compartilhado,1,1,50.0,4,1,5,6.0,14:00:00,10:00:00,85858585,23
51,52,Casa da Beira,Rua do Rio 90,Casa inteira,4,3,480.0,7,2,20,70.0,None,10:00:00,85858585,23

# QUERY 3.3.2

In [140]:
query = '''
SELECT p.tipo, Count(*) 
FROM propriedade p 
GROUP BY p.tipo 
'''

df = pd.read_sql(query, engine)
display(df)

                   tipo  count
0          Casa inteira     27
1  Quarto compartilhado     10
2     Quarto individual     15

# QUERY 3.3.3

In [39]:
query = '''
SELECT L.cidade, Count(*) as total
FROM localizacao L JOIN propriedade p 
USING (cep) 
GROUP BY cidade
ORDER BY total DESC
'''

df = pd.read_sql(query, engine)
display(df)

                 cidade  total
0      Feira de Santana     15
1                Manaus      8
2                 Natal      4
3           João Pessoa      3
4              Curitiba      2
5   São José dos Campos      2
6                Cuiabá      2
7               Niterói      1
8             Fortaleza      1
9        Ribeirão Preto      1
10        Florianópolis      1
11            São Paulo      1
12         Campo Grande      1
13              Vitória      1
14                Belém      1
15       Belo Horizonte      1
16              Pelotas      1
17              Maringá      1
18               Recife      1
19             Blumenau      1
20              Aracaju      1
21             Salvador      1
22         Porto Alegre      1

# QUERY 3.4

In [40]:
query = '''
SELECT r.id_reserva, r.id_propriedade, r.id_usuario, (r.data_check_out - r.data_check_in) as dias_locados, u2.nome as nome_prop, u1.nome as nome_hosp, ROUND(r.preco_total / (r.data_check_out - r.data_check_in), 2) as preco_diaria 
FROM reserva r  
	JOIN usuario u1 ON r.id_usuario = u1.id_usuario
	JOIN propriedade p ON r.id_propriedade = p.id_propriedade
	JOIN usuario u2 ON p.id_locator = u2.id_usuario
WHERE (r.status = 'Confirmada') and (r.data_reserva >= '2025-04-25')
'''

df = pd.read_sql(query, engine)
display(df)

,id_reserva,id_propriedade,id_usuario,dias_locados,nome_prop,nome_hosp,preco_diaria
0,1,1,11,5,Ana,Bruno,60.00
1,2,2,11,2,Camila,Bruno,72.50
2,4,4,14,4,Diego,Eduarda,65.00
3,6,6,15,5,Isabela,Felipe,NaN
4,7,7,16,2,Isabela,Giovana,180.00
5,9,9,19,2,Isabela,João,85.00
6,10,10,19,4,Isabela,João,110.00
7,12,12,21,2,Mariana,Lucas,97.50
8,14,14,23,2,Pedro,Nicolas,80.00
9,15,15,24,2,Pedro,Olívia,52.50
10,17,17,27,2,Sabrina,Rafael,112.50
11,18,18,27,2,Sabrina,Rafael,172.50
12,20,20,30,2,Úrsula,Úrsula,100.00
13,22,22,31,4,Úrsula,Victor,36.25
14,23,23,32,2,Wanda,Wanda,102.50
15,24,24,33,4,Wanda,Xavier,107.50
16,26,26,35,2,Zeca,Zeca,57.50
17,31,31,11,5,Wanda,Bruno,60.00
18,32,32,11,2,Yasmin,Bruno,72.50
19,34,34,14,4,Zeca,Eduarda,65.00
20,36,36,15,5,Camila,Felipe,NaN
21,37,37,16,2,Ana,Giovana,180.00
22,39,39,19,2,Ana,João,85.00
23,40,40,19,4,Ana,João,110.00
24,42,42,21,2,Ana,Lucas,97.50
25,44,44,23,2,Ana,Nicolas,80.00
26,45,45,24,2,Nicolas,Olívia,52.50
27,47,47,27,2,Nicolas,Rafael,112.50
28,48,48,27,2,Nicolas,Rafael,172.50
29,50,50,30,2,Nicolas,Úrsula,100.00

# QUERY 3.5.a

In [41]:
query = '''
SELECT *
FROM usuario u
WHERE u.tipo = 'Ambos'
'''

df = pd.read_sql(query, engine)
display(df)

,id_usuario,nome,sobrenome,telefone,cpf,genero,endereco,email,senha,tipo,data_nascimento,cep
0,12,Camila,Oliveira,11999999903,12345678903,Feminino,Rua da Aurora 77,camila.o@email.com,senha123,Ambos,1995-01-10,34567890
1,15,Felipe,Almeida,11999999906,12345678906,Masculino,Rua Nova 55,felipe@email.com,senha123,Ambos,1987-08-09,70707070
2,18,Isabela,Ramos,11999999909,12345678909,Feminino,Rua Campo Verde 99,isabela@email.com,senha123,Ambos,1989-04-07,81818181
3,20,Karina,Lopes,11999999911,12345678911,Feminino,Rua do Vale 18,karina@email.com,senha123,Ambos,1984-10-21,82828282
4,23,Nicolas,Barbosa,11999999914,12345678914,Masculino,Rua 7 de Setembro 200,nicolas@email.com,senha123,Ambos,1994-09-14,85858585
5,25,Pedro,Gonçalves,11999999916,12345678916,Masculino,Rua do Horizonte 17,pedro@email.com,senha123,Ambos,1986-08-03,66778899
6,28,Sabrina,Farias,11999999919,12345678919,Feminino,Rua das Ondas 66,sabrina@email.com,senha123,Ambos,2001-02-14,99001122
7,30,Úrsula,Rezende,11999999921,12345678921,Feminino,Rua da Manhã 70,ursula@email.com,senha123,Ambos,1988-07-09,12131415
8,32,Wanda,Paz,11999999923,12345678923,Feminino,Rua do Design 23,wanda@email.com,senha123,Ambos,1990-09-19,14151617
9,35,Zeca,Pinto,11999999926,12345678926,Masculino,Rua das Árvores 111,zeca@email.com,senha123,Ambos,1995-07-07,17181920
10,38,Cíntia,Sales,11999999929,12345678929,Feminino,Rua da Alegria 14,cintia@email.com,senha123,Ambos,1998-11-27,20212223
11,39,Davi,Neves,11999999930,12345678930,Masculino,Rua Nova Esperança 18,davi@email.com,senha123,Ambos,1996-04-04,21222324

# QUERY 3.5.b

In [ ]:
query = '''
SELECT u.nome, L.cidade, COUNT(DISTINCT p.id_propriedade) AS total_prop, COUNT(r.id_reserva) AS total_locacoes
	
FROM usuario u
JOIN localizacao L ON u.cep = L.cep
JOIN propriedade p ON p.id_locator = u.id_usuario
LEFT JOIN reserva r ON r.id_propriedade = p.id_propriedade

GROUP BY (u.id_usuario, L.cidade)
HAVING (COUNT(r.id_reserva) >= 5);
'''

df = pd.read_sql(query, engine)
display(df)

      nome          cidade  total_prop  total_locacoes
0      Ana  Belo Horizonte          10               9
1  Isabela        Salvador           5               5
2  Nicolas          Manaus           8               8

# QUERY 3.5.c

In [145]:
query = '''
SELECT 
 EXTRACT(MONTH from data_reserva), 
 ROUND(AVG(Coalesce(preco_total/(r.data_check_out - r.data_check_in), 0)), 2) as media_preco_total, 
 ROUND(AVG(CASE WHEN r.status = 'Confirmada' AND preco_total IS NOT NULL THEN preco_total/(r.data_check_out - r.data_check_in) ELSE NULL END), 2) as media_preco_confirmadas
FROM 
  reserva r
GROUP BY 
  EXTRACT(MONTH FROM data_reserva);
'''

df = pd.read_sql(query, engine)
display(df)

   extract  media_preco_total  media_preco_confirmadas
0      6.0              82.02                    95.16
1      7.0              83.33                   118.13
2      5.0              81.20                    90.31

# QUERY 3.5.d

In [146]:
query = '''
SELECT DISTINCT u1.tipo, u1.nome
FROM usuario u1
WHERE (u1.tipo = 'Ambos' OR u1.tipo = 'Hospede') 

	AND
	u1.data_nascimento > ANY (
    SELECT u2.data_nascimento
    FROM usuario u2
    WHERE u2.id_usuario IN (
        SELECT DISTINCT p.id_locator
        FROM propriedade p
    )
);

'''

df = pd.read_sql(query, engine)
display(df)

       tipo     nome
0     Ambos   Camila
1     Ambos   Cíntia
2     Ambos     Davi
3     Ambos   Felipe
4     Ambos  Isabela
5     Ambos   Karina
6     Ambos  Nicolas
7     Ambos    Pedro
8     Ambos  Sabrina
9     Ambos   Úrsula
10    Ambos    Wanda
11    Ambos     Zeca
12  Hospede    Breno
13  Hospede    Bruno
14  Hospede  Eduarda
15  Hospede  Giovana
16  Hospede     João
17  Hospede    Lucas
18  Hospede   Mateus
19  Hospede   Olívia
20  Hospede    Paulo
21  Hospede   Rafael
22  Hospede   Victor
23  Hospede   Xavier

# QUERY 3.5.e

In [147]:
query = '''
SELECT DISTINCT u1.nome, u1.sobrenome, u1.data_nascimento, u1.tipo
FROM usuario u1
WHERE (u1.tipo = 'Ambos' OR u1.tipo = 'Hospede') 

	AND
	u1.data_nascimento > ALL (
    SELECT u2.data_nascimento
    FROM usuario u2
    WHERE (u2.tipo = 'Ambos' OR u2.tipo = 'Locator') and (u1.id_usuario != u2.id_usuario)
    );


'''

df = pd.read_sql(query, engine)
display(df)

      nome sobrenome data_nascimento     tipo
0   Mateus     Sales      2005-11-27  Hospede
1    Paulo     Neves      2003-04-04  Hospede
2  Sabrina    Farias      2001-02-14    Ambos